*{
margin: 0;
padding: 0;
}

.App {
  
  background-image: linear-gradient(to left bottom, #0f0f7a, #100f6e, #110f62, #120f56, #120e4a, #100e44, #0f0d3d, #0e0c37, #0c0b34, #0a0a30, #09082d, #070729);
    margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
 
  
}

